<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.luoyuanxiang.thrivex.server.mapper.AlbumCateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.luoyuanxiang.thrivex.server.entity.AlbumCate">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="cover" property="cover" />
    </resultMap>
    <select id="paging" resultType="top.luoyuanxiang.thrivex.server.entity.AlbumCate">
         select id, name, cover, (select count(*) from album_image ai where ai.cate_id = ac.id) count from album_cate ac order by id desc
    </select>

</mapper>
