<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.luoyuanxiang.thrivex.server.mapper.ArticleConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.luoyuanxiang.thrivex.server.entity.ArticleConfig">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="password" property="password" />
        <result column="is_encrypt" property="isEncrypt" />
        <result column="is_draft" property="isDraft" />
        <result column="is_del" property="isDel" />
        <result column="article_id" property="articleId" />
    </resultMap>

</mapper>
