<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.luoyuanxiang.thrivex.server.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.luoyuanxiang.thrivex.server.entity.CommentEntity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="avatar" property="avatar" />
        <result column="content" property="content" />
        <result column="email" property="email" />
        <result column="url" property="url" />
        <result column="article_id" property="articleId" />
        <result column="comment_id" property="commentId" />
        <result column="audit_status" property="auditStatus" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
