<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.luoyuanxiang.thrivex.server.mapper.LinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.luoyuanxiang.thrivex.server.entity.LinkEntity">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="email" property="email" />
        <result column="image" property="image" />
        <result column="url" property="url" />
        <result column="rss" property="rss" />
        <result column="order" property="order" />
        <result column="type_id" property="typeId" />
        <result column="audit_status" property="auditStatus" />
        <result column="create_time" property="createTime" />
        <association property="linkTypeEntity" javaType="top.luoyuanxiang.thrivex.server.entity.LinkTypeEntity">
            <id column="lt_id" property="id" />
            <result column="name" property="name" />
            <result column="is_admin" property="isAdmin" />
            <result column="order" property="order" />
        </association>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        select l.*, lt.id lt_id, lt.name, lt.is_admin, lt.`order` from linkEntity l
        left join link_type lt on l.type_id = lt.id
        <where>
            <if test="vo.status != null">
                and l.audit_status = #{vo.status}
            </if>
        </where>
        <if test="vo.key != null and vo.key != ''">
            and l.title like concat('%',#{vo.key},'%')
        </if>
        <if test="vo.startDate != null and vo.startDate != ''">
            and l.create_time >= #{vo.startDate}
        </if>
        <if test="vo.endDate != null and vo.endDate != ''">
            and l.create_time <![CDATA[
            <=
            ]]> #{vo.endDate}
        </if>
        <if test="vo.startDate != null and vo.startDate != '' and vo.endDate != null and vo.endDate != ''">
            and l.create_time between #{vo.startDate} and #{vo.endDate}
        </if>
        order by lt.order, l.create_time
    </select>

    <select id="paging" resultMap="BaseResultMap">
        select l.*, lt.id lt_id, lt.name, lt.is_admin, lt.`order` from linkEntity l
        left join link_type lt on l.type_id = lt.id
        <where>
            <if test="vo.status != null">
                and l.audit_status = #{vo.status}
            </if>
        </where>
        <if test="vo.key != null and vo.key != ''">
            and l.title like concat('%',#{vo.key},'%')
        </if>
        <if test="vo.startDate != null and vo.startDate != ''">
            and l.create_time >= #{vo.startDate}
        </if>
        <if test="vo.endDate != null and vo.endDate != ''">
            and l.create_time <![CDATA[
            <=
            ]]> #{vo.endDate}
        </if>
        <if test="vo.startDate != null and vo.startDate != '' and vo.endDate != null and vo.endDate != ''">
            and l.create_time between #{vo.startDate} and #{vo.endDate}
        </if>
        order by lt.order, l.create_time
    </select>

</mapper>
