<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.luoyuanxiang.thrivex.server.mapper.OssMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.luoyuanxiang.thrivex.server.entity.OssEntity">
        <id column="id" property="id" />
        <result column="platform" property="platform" />
        <result column="access_key" property="accessKey" />
        <result column="secret_key" property="secretKey" />
        <result column="end_point" property="endPoint" />
        <result column="bucket_name" property="bucketName" />
        <result column="domain" property="domain" />
        <result column="base_path" property="basePath" />
        <result column="is_enable" property="isEnable" />
    </resultMap>

</mapper>
