<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.luoyuanxiang.thrivex.server.mapper.SwiperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.luoyuanxiang.thrivex.server.entity.SwiperEntity">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="image" property="image" />
        <result column="url" property="url" />
    </resultMap>

</mapper>
